<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookshop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<main>
    <div class="text-center">
        <form th:method="POST" th:action="${book.getId()} == 0 ? @{/book/create} : @{/book/edit}" th:object="${book}">
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="name" class="form-label">Название</label>
                    <input type="text" th:field="*{name}" id="name"/>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="authors" class="form-label">Авторы</label>
                    <input type="text" th:field="*{authors}" id="authors"/>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="genre"  class="form-label">Жанр</label>
                    <input type="text" th:field="*{genre}" id="genre"/>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="publisher" class="form-label">Издатель</label>
                    <input type="text" th:field="*{publisher}" id="publisher"/>
                </div>
            </div>

            <div class="col-12">
                <div class="col-sm-6">
                    <label for="yearOfPublication" class="form-label">Год издания</label>
                    <input type="text" th:field="*{yearOfPublication}" id="yearOfPublication"/>
                </div>
            </div>

            <div class="col-12">
                <div class="col-sm-6">
                    <label for="numberOfPages" class="form-label">Количество страниц</label>
                    <input type="text" th:field="*{numberOfPages}" id="numberOfPages"/>
                </div>
            </div>

            <div class="col-12">
                <div class="col-sm-6">
                    <label for="amount" class="form-label">Количество на складе</label>
                    <input type="text" th:field="*{amount}" id="amount"/>
                </div>
            </div>

            <div class="col-12">
                <div class="col-sm-6">
                    <label for="price" class="form-label">Цена</label>
                    <input type="text" th:field="*{price}" id="price"/>
                </div>
            </div>
            <input type="hidden" th:field="*{id}"/>
            <hr class="my-4">
            <input type="submit" value="Сохранить!"/>
        </form>
    </div>
</main>
</body>
</html>